<div class="header-top">
   <div class="header-bottom">      
        <div class="logo">
          <h1><a href="index.html"></i> Soko<b>Mkononi</b></a></h1>
        </div>
       <!---->     
       <div class="top-nav">
        <ul class="memenu skyblue">

        <li {% if request.endpoint in ['item.index'] %}class="active"{% endif %}><a href="/"><i class="fa fa-home"></i> Home</a></li>

        <li {% if request.endpoint in ['item.cart', 'item.browse'] %}class="active"{% endif %}><a href="/products/browse"><i class="fa fa-gift"></i> Shop</a></li>

       <!-- <li {% if request.endpoint in [''] %}class="active"{% endif %}><a href="/products/browse"><i class="fa fa-info-circle"></i> About</a></li>-->
       

       {% if current_user.is_authenticated %}

       <li {% if request.endpoint in ['loans.my_list', 'loans.edit_loan'] %}class="active"{% endif %}><a href="/loans"><i class="fa fa-usd"></i> My Loans</a></li>

        <li {% if request.endpoint in ['item.orders'] %}class="active"{% endif %}><a href="/products/orders"><i class="fa fa-clock-o"></i> Orders</a></li>

        <li {% if request.endpoint in ['user.edit_user'] %}class="active"{% endif %}><a href="/users/edit/me""><i class="fa fa-user"></i></a></li>

        <li><a href="/logout" onclick="return confirm('Really log out?')"><i class="fa fa-sign-out"></i></a></li>


        {% else %}

        {% endif %}

        </ul>       
       </div>
       <!---->
       {% if current_user.is_authenticated %}
       <div class="cart box_1">
         <a href="checkout.html">
          <div class="total">
          <span class=""></span> {{current_user.cart_count}} items</div>
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        </a>
        <p><a href="/products/cart" class="">View cart</a></p>
        <div class="clearfix"> </div>
       </div>
       {% else %}

        <div class="cart box_1">
         <a href="javascript:show_login_modal()">
          <div class="total">
          <span class="fa fa-sign-in" aria-hidden="true"></span>

          <span class=""></span> Log in</div>
        </a>
        <br>
            <a href="/register">
                <i class="fa fa-user" aria-hidden="true"></i> Sign up
            </a>
        <div class="clearfix"> </div>
       </div>

       {% endif %}
       <div class="clearfix"> </div>
       <!---->       
       </div>
      <div class="clearfix"> </div>
</div>
{% set user_type = current_user.category.lower() %}

{% if current_user.is_admin or user_type != "consumer" %}
<div class="alert alert-warning" style="margin-bottom:0px">

{% if current_user.is_admin %}
<b>Admin:</b> 
<a href="/users">Users</a> &middot; 
<a href="/loans/admin">Loans</a> &middot; 
<a href="/products/admin">Products</a> &middot; 
<a href="/products/admin/types">Categories</a> &middot; 
<a href="/users/documents/admin">Documents</a> 

<span style="margin-right:30px"></span>
{% endif %}

{% if user_type == "farmer" %}
<b>Farmer:</b> 
<a href="/products/mine">Sell items</a> &middot;
<a href="/products/sold">Reports</a>
</div>
{% endif %}

</div>


{% endif %}

<!--
{% if current_user.is_authenticated %}

<div id="sidebar-clear" class="main-sidebar">
      <div class="container">
        <div class="logo-container">
        <img src="/static/images/logo.png">
        </div>
      </div>
      <div class="current-user" style="height:50px; text-align: center;">
        <a href="/" class="name">
          <span style="color:#428bca !important">
            <i class="fa fa-user-circle"></i> <b>{{current_user.username}}</b> ({{current_user.category}})
            <i class="fa fa-chevron-down"></i>
          </span>
        </a>
        <ul class="menu">
          <li>
            <a href="/users/edit/me">My profile</a>
          </li>
          <li>
            <a href="/logout">Sign out</a>
          </li>
        </ul>
      </div>
      <div class="menu-section">
        <h3>{{current_user.category}}</h3>
        <ul>
          <li {% if request.url.find("dashboard") >= 0 %}class="active" {% endif %}>
            <a href="/users/dashboard">
              <i class="ion-arrow-graph-up-right"></i> 
              <span>Dashboard</span>
            </a>
          </li>

          {% if current_user.category.lower() in ["transporter"] %}

          <li {% if request.url.find("map") >= 0 %}class="active" {% endif %}>
            <a href="/users/locations/map">
              <i class="ion-location"></i> 
              <span>Map</span>
            </a>
          </li>

          {% endif %}

          <li>
            <a href="javascript:alert('Not implemented yet')">
              <i class="ion-flash"></i> 
              <span>Latest activity</span>
            </a>
          </li>
        
        </ul>
      </div>
     
    {% if current_user.category.lower() in ["farmer"] %}

      <div class="menu-section">
        <h3>Products &amp; Sales</h3>
        <ul>
          <li {% if request.endpoint == "item.index" %}class="active" {% endif %}>
            <a href="/products">
              <i class="fa fa-gift"></i> 
              <span>My items</span>
            </a>
          </li>

          <li>
            <a href="javascript:alert('Not implemented yet')">
              <i class="fa fa-clock-o"></i> 
              <span>Sales history</span>
            </a>
          </li>

        </ul>
      </div>
    {% endif %}


     {% if current_user.category.lower() in ["consumer"] %}

      <div class="menu-section">
        <h3>Products &amp; Sales</h3>
        <ul>
          <li {% if request.endpoint == "products.index" %}class="active" {% endif %}>
            <a href="/products/browse">
              <i class="fa fa-gift"></i> 
              <span>Browse</span>
            </a>
          </li>

          <li>
            <a href="/products/cart">
              <i class="fa fa-shopping-cart"></i> 
              <span>My cart 

              {% if current_user.cart_count %}<b>({{current_user.cart_count}})</b> {% endif %}</span>
            </a>
          </li>

          <li>
            <a href="javascript:alert('Not implemented yet')">
              <i class="fa fa-map-marker"></i> 
              <span>Deliveries in progress</span>
            </a>
          </li>

          <li {% if request.endpoint == "products.orders" %}class="active" {% endif %}>
            <a href="/products/orders">
              <i class="fa fa-list"></i> 
              <span>Order history</span>
            </a>
          </li>

        </ul>
      </div>
    {% endif %}

    {% if current_user.category.lower() in ["transporter", "consumer", "farmer"] %}

      <div class="menu-section">
        <h3>Finances</h3>
        <ul>
          <li {% if request.endpoint == "loans.my_account" %}class="active" {% endif %}>
            <a href="javascript:alert('Not implemented yet')">
              <i class="fa fa-book"></i> 
              <span>My payments</span>
            </a>
          </li>
          <li {% if request.endpoint == "loans.my_list" %}class="active" {% endif %}>
            <a href="/loans">
              <i class="fa fa-usd"></i> 
              <span>My loans</span>
            </a>
          </li>
        </ul>
      </div>

    {% endif %}

    {% if current_user.category.lower() in ["transporter"] %}

      <div class="menu-section">
        <h3>Documents</h3>
        <ul>
          <li {% if request.endpoint == "user.view_documents">= 0 %}class="active" {% endif %}>
            <a href="/users/documents">
              <i class="fa fa-file-o"></i> 
              <span>My documents</span>
            </a>
          </li>

          <li {% if request.url.find("users/documents/upload") >= 0%}class="active" {% endif %}>
            <a href="/users/documents/upload">
              <i class="fa fa-upload"></i> 
              <span>Upload new</span>
            </a>
          </li>

        </ul>
      </div>

      {% endif %}

      {% if current_user.is_admin %}


      <div class="menu-section">
        <h3>Administrator</h3>
        <ul>
          <li {% if request.endpoint == "user.members" and not request.args.get('category') %}class="active" {% endif %}>
            <a href="/users">
              <i class="ion-person-stalker"></i> 
              <span>Users</span>
            </a>
          </li>

          <li {% if request.endpoint == "item.admin_index" %}class="active" {% endif %}>
            <a href="/products/admin">
              <i class="fa fa-gift"></i> 
              <span>Items</span>
            </a>
          </li>

          <li {% if request.endpoint == "item.admin_type_list" %}class="active" {% endif %}>
            <a href="/products/admin/types">
              <i class="fa fa-edit"></i> 
              <span>Categories</span>
            </a>
          </li>

          <li {% if request.url.find("users") >= 0 and request.args.get('category') == 'consumer' %}class="active" {% endif %}>
            <a href="/users?category=consumer">
              <i class="ion-person"></i> 
              <span>Consumers</span>
            </a>
          </li>

          <li {% if request.url.find("users") >= 0 and request.args.get('category') == 'transporter' %}class="active" {% endif %}>
            <a href="/users?category=transporter">
              <i class="ion-person"></i> 
              <span>Transporters</span>
            </a>
          </li>

          <li {% if request.url.find("users") >= 0 and request.args.get('category') == 'farmer' %}class="active" {% endif %}>
            <a href="/users?category=farmer">
              <i class="ion-person"></i> 
              <span>Farmers</span>
            </a>
          </li>

          <li {% if request.endpoint == "loans.admin_list" %}class="active" {% endif %}>
            <a href="/loans/admin">
              <i class="fa fa-usd"></i> 
              <span>Loans</span>
            </a>
          </li>

          <li {% if request.endpoint == "user.view_documents_admin">= 0 %}class="active" {% endif %}>
            <a href="/users/documents/admin">
              <i class="fa fa-file-o"></i> 
              <span>Documents</span>
            </a>
          </li>


        </ul>
      </div>

      {% endif %}



      <div class="bottom-menu hidden-sm">
        <ul>
         
          <li><a href="/logout"><i class="ion-log-out"></i></a></li>
        </ul>
      </div>
    </div>
{% endif %}
-->