<div id="sidebar-default" class="main-sidebar">
      <div class="container"><h2 style="color:white"><i class="fa fa-globe"></i> Soko<b>Admin</b></h2></div>
      <div class="current-user" style="height:50px">
        <a href="index.html" class="name">
          <span>
            <i class="fa fa-user"></i> {{current_user.username}}
            <i class="fa fa-chevron-down"></i>
          </span>
        </a>
        <ul class="menu">
          <li>
            <a href="account-profile.html">Account settings</a>
          </li>
          <li>
            <a href="account-billing.html">Billing</a>
          </li>
          <li>
            <a href="account-notifications.html">Notifications</a>
          </li>
          <li>
            <a href="account-support.html">Help / Support</a>
          </li>
          <li>
            <a href="/logout">Sign out</a>
          </li>
        </ul>
      </div>
      <div class="menu-section">
        <h3>Home</h3>
        <ul>
          <li>
            <a href="/">
              <i class="ion-arrow-graph-up-right"></i> 
              <span>Dashboard</span>
            </a>
          </li>

          <li>
            <a href="">
              <i class="ion-flash"></i> 
              <span>Latest activity</span>
            </a>
          </li>
        
        </ul>
      </div>
      <div class="menu-section">
        <h3>Products</h3>
        <ul>
          <li>
            <a href="{{url_for('item.index')}}"
               {% if request.endpoint in ["item.index"] %}class="active"{% endif %}
            >
              <i class="fa fa-list"></i> 
              <span>Current inventory</span>
            </a>
          </li>

          <li>
            <a href="{{url_for('item.type_list')}}" 
            {% if request.endpoint in ["item.type_list", "item.type_edit"] %}class="active"{% endif %}
            >
              <i class="ion-edit"></i> 
              <span>Manage types</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="menu-section">
        <h3>Sales</h3>
        <ul>
          <li>
            <a href="/">
              <i class="fa fa-clock-o"></i> 
              <span>Sales history</span>
            </a>
          </li>

        </ul>
      </div>


      <div class="menu-section">
        <h3>Users</h3>
        <ul>
          <li>
            <a href="/">
              <i class="ion-person-stalker"></i> 
              <span>All users</span>
            </a>
          </li>

          <li>
            <a href="">
              <i class="ion-person"></i> 
              <span>Consumers</span>
            </a>
          </li>

          <li>
            <a href="">
              <i class="ion-person"></i> 
              <span>Transporters</span>
            </a>
          </li>

          <li>
            <a href="">
              <i class="ion-person"></i> 
              <span>Farmers</span>
            </a>
          </li>

          <li>
            <a href="">
              <i class="ion-person"></i> 
              <span>Admins</span>
            </a>
          </li>
        </ul>
      </div>



      <div class="bottom-menu hidden-sm">
        <ul>
          <li><a href="#"><i class="ion-help"></i></a></li>
          <li>
            <a href="#">
              <i class="ion-archive"></i>
              <span class="flag"></span>
            </a>
            <ul class="menu">
              <li><a href="#">5 unread messages</a></li>
              <li><a href="#">12 tasks completed</a></li>
              <!-- <li><a href="#">3 features added</a></li> -->
            </ul>
          </li>
          <li><a href="/logout"><i class="ion-log-out"></i></a></li>
        </ul>
      </div>
    </div>
