<div id="sidebar-default" class="main-sidebar">
      <div class="container">
        <img src="/static/images/logo.png" style="width:200px; margin:5px">
      </div>
      <div class="current-user" style="height:50px">
        <a href="/" class="name">
          <span>
            <i class="fa fa-user-circle"></i> <b>{{current_user.username}}</b> ({{current_user.category}})
            <i class="fa fa-chevron-down"></i>
          </span>
        </a>
        <ul class="menu">
          <li>
            <a href="/users/edit/me">My profile</a>
          </li>
          <li>
            <a href="/logout">Sign out</a>
          </li>
        </ul>
      </div>
      <div class="menu-section">
        <h3>{{current_user.category}}</h3>
        <ul>
          <li {% if request.url.find("dashboard") >= 0 %}class="active" {% endif %}>
            <a href="/users/dashboard">
              <i class="ion-arrow-graph-up-right"></i> 
              <span>Dashboard</span>
            </a>
          </li>

          <li {% if request.url.find("map") >= 0 %}class="active" {% endif %}>
            <a href="/users/locations/map">
              <i class="ion-location"></i> 
              <span>Map</span>
            </a>
          </li>

          <li>
            <a href="">
              <i class="ion-flash"></i> 
              <span>Latest activity</span>
            </a>
          </li>
        
        </ul>
      </div>
      <div class="menu-section">
        <h3>Products</h3>
        <ul>
          
        </ul>
      </div>

      <div class="menu-section">
        <h3>Sales</h3>
        <ul>
          <li>
            <a href="/">
              <i class="fa fa-clock-o"></i> 
              <span>Sales history</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="menu-section">
        <h3>Documents</h3>
        <ul>
          <li {% if request.url.find("users/documents") >= 0 and not request.url.find("upload") >= 0 %}class="active" {% endif %}>
            <a href="/users/documents">
              <i class="fa fa-file-o"></i> 
              <span>View uploaded</span>
            </a>
          </li>

          <li {% if request.url.find("users/documents/upload") >= 0%}class="active" {% endif %}>
            <a href="/users/documents/upload">
              <i class="fa fa-upload"></i> 
              <span>Upload new</span>
            </a>
          </li>

        </ul>
      </div>


      <div class="menu-section">
        <h3>Administrator</h3>
        <ul>
          <li {% if request.endpoint == "user.members" and not request.args.get('category') %}class="active" {% endif %}>
            <a href="/users">
              <i class="ion-person-stalker"></i> 
              <span>All users</span>
            </a>
          </li>

          <li {% if request.url.find("users") >= 0 and request.args.get('category') == 'consumer' %}class="active" {% endif %}>
            <a href="/users?category=consumer">
              <i class="ion-person"></i> 
              <span>Consumers</span>
            </a>
          </li>

          <li {% if request.url.find("users") >= 0 and request.args.get('category') == 'transporter' %}class="active" {% endif %}>
            <a href="/users?category=transporter">
              <i class="ion-person"></i> 
              <span>Transporters</span>
            </a>
          </li>

          <li {% if request.url.find("users") >= 0 and request.args.get('category') == 'farmer' %}class="active" {% endif %}>
            <a href="/users?category=farmer">
              <i class="ion-person"></i> 
              <span>Farmers</span>
            </a>
          </li>

        </ul>
      </div>



      <div class="bottom-menu hidden-sm">
        <ul>
         
          <li><a href="/logout"><i class="ion-log-out"></i></a></li>
        </ul>
      </div>
    </div>
