{% set INCLUDE_DATATABLES = True %}
{% extends "layout.html" %}
{% block content %}


    {% set cat = request.args.get("category") %}
<style type="text/css">
    
.bottom-wrapper{
    text-align: center;
    padding:10px;
    color:#333;
}

</style>
	


<div class="row">
        <div class="col-md-6 col-md-offset-2">

<div class="product-model">  
   <div class="container">



  <div class="panel-body">
  <br><br>



	 {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
         {{message}}
        </div><!-- end .alert -->
        {% endfor %}
      </div><!-- end col-md -->
    </div><!-- end row -->
        {% endif %}
    {% endwith %}


    <h2>1. <b>How do you want to use Soko Mkononi?</b></h2>
    <br>

    <div class="row">
        <div class="col-md-4">
            <a href="?category=farmer" class="btn btn-block {% if cat == 'farmer' %}btn-primary{% else %}btn-text{% endif %}">
            <br>
            <i class="fa fa-tree fa-4x"></i> <br>
            <br>I'm a <b>farmer</b></a>
            <br><br>
        </div>

        <div class="col-md-4">
            <a href="?category=transporter" class="btn btn-block {% if cat == 'transporter' %}btn-primary{% else %}btn-text{% endif %}">
            <br>
            <i class="fa fa-motorcycle fa-4x"></i> <br>
            <br>I'm a <b>transporter</b></a>
            <br><br>
        </div>

        <div class="col-md-4">
            <a href="?category=consumer" class="btn btn-block btn-text {% if cat == 'consumer' %}btn-primary{% else %}btn-text{% endif %}">
            <br>
            <i class="fa fa-user-circle-o fa-4x"></i> <br>
            <br>I want to <b>buy goods</b></a>
            <br><br>
        </div>
    </div>

   

    {% if "category" in request.args %}

     <br><br>
    <h2>2. <b>Fill in your details below to sign up as a {{cat}}!</b></h2>

    <br>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">



		<form id="registerForm" class="well" method="POST" action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <input type="hidden" name="category" value="{{cat}}"/>

<!--
            <div class="form-group">
                {{form.username.label}}
                {{form.username(placeholder="Username", class_="form-control")}}

                <div class="alert alert-primary"><i class="fa fa-info-circle"></i> This will be the username that you sign in with</div>
            </div>
            
            <div class="form-group">
                {{form.first_name.label}}
                {{form.first_name(placeholder="First Name", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.last_name.label}}
                {{form.last_name(placeholder="Last Name", class_="form-control")}}
            </div>

            <div class="form-group">
                {{form.email.label}}
                {{form.email(placeholder="Email", class_="form-control")}}
            </div>


            <div class="form-group">
                {{form.phone_number.label}}
                {{form.phone_number(placeholder="Phone Number", class_="form-control")}}

                <div class="alert alert-primary"><i class="fa fa-info-circle"></i> We need your phone number and email to send you updates</div>

            </div>

            <div class="form-group">
                {{form.region.label}}
                {{form.region(placeholder="City or town", class_="form-control")}}

                <div class="alert alert-primary"><i class="fa fa-info-circle"></i> We need to know where you are so we can show you content relevant to your location</div>

            </div>
            
            <div class="form-group">
                {{form.password.label}}
                {{form.password(placeholder="Password", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.confirm.label}}
                {{form.confirm(placeholder="Password (confirm)", class_="form-control")}}

                <div class="alert alert-primary"><i class="fa fa-info-circle"></i> Your password must be at least 6 characters</div>

            </div>
            <p><button class="btn btn-success btn-lg btn-submit btn-block" type="submit"><i class="fa fa-check-circle"></i> Create my account!</button></p>-->


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" style="margin-bottom:20px">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">1. Username</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">2. Your details</a></li>
    <li role="presentation"><a href="#location" aria-controls="location" role="tab" data-toggle="tab">3. Location</a></li>
    <li role="presentation"><a href="#password" aria-controls="password" role="tab" data-toggle="tab">4. Password</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">

    <div class="form-group">
        {{form.username.label}}
        {{form.username(placeholder="Username", class_="form-control")}}

        <div class="alert alert-primary"><i class="fa fa-info-circle"></i> This will be the username that you sign in with</div>

        <div class="pull-right">
            <a class="btn btn-primary btn-lg" href="javascript:next_tab()">Continue <i class="fa fa-chevron-right"></i></a>
        </div>

        <br><br>


    </div>

 </div>
    <div role="tabpanel" class="tab-pane" id="profile">
           <div class="form-group">
                {{form.first_name.label}}
                {{form.first_name(placeholder="First Name", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.last_name.label}}
                {{form.last_name(placeholder="Last Name", class_="form-control")}}
            </div>

            <div class="form-group">
                {{form.email.label}}
                {{form.email(placeholder="Email", class_="form-control")}}
            </div>


            <div class="form-group">
                {{form.phone_number.label}}
                {{form.phone_number(placeholder="Phone Number", class_="form-control")}}

                <div class="alert alert-primary"><i class="fa fa-info-circle"></i> We need your phone number and email to send you updates</div>

            </div>

                <a class="btn btn-default btn-lg" href="javascript:prev_tab()"><i class="fa fa-chevron-left"></i> Back</a>

            <div class="pull-right">
                <a class="btn btn-primary btn-lg" href="javascript:next_tab()">Continue <i class="fa fa-chevron-right"></i></a>
            </div>

            <br><br>



    </div>
    <div role="tabpanel" class="tab-pane" id="location">
        
         <div class="form-group">
                {{form.region.label}}
                {{form.region(placeholder="City or town", class_="form-control")}}

                <div class="alert alert-primary"><i class="fa fa-info-circle"></i> We need to know where you are so we can show you content relevant to your location</div>

            </div>
            <a class="btn btn-default btn-lg" href="javascript:prev_tab()"><i class="fa fa-chevron-left"></i> Back</a>


            <div class="pull-right">
                <a class="btn btn-primary btn-lg" href="javascript:next_tab()">Continue <i class="fa fa-chevron-right"></i></a>
            </div>

            <br><br>


    </div>
    <div role="tabpanel" class="tab-pane" id="password">
        
        <div class="form-group">
                {{form.password.label}}
                {{form.password(placeholder="Password", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.confirm.label}}
                {{form.confirm(placeholder="Password (confirm)", class_="form-control")}}

                <div class="alert alert-primary"><i class="fa fa-info-circle"></i> Your password must be at least 6 characters</div>

            </div>

            <a class="btn btn-default btn-lg" href="javascript:prev_tab()"><i class="fa fa-chevron-left"></i> Back</a>


            <div class="pull-right">
            <button class="btn btn-success btn-lg btn-submit" type="submit"><i class="fa fa-check-circle"></i> Create my account!</button>
            </div>

            <br><br>


    </div>
  </div>


    </form>

    </div>
    </div>

    {% endif %}

	</div>

	<div class="bottom-wrapper">
		<div class="message">
			<span>Already have an account?</span>
			<a href="javascript:show_login_modal()">Sign in here</a>.
		</div>
	</div>

    </div>
    </div>
    </div>
    </div>


	<script type="text/javascript">
    function next_tab(){
        $('.nav-tabs > .active').next('li').find('a').trigger('click');
    }
    function prev_tab(){
        $('.nav-tabs > .active').prev('li').find('a').trigger('click');
    }

		$(function () {
			var $switcher = $(".signup-switcher a");
			$switcher.click(function (e) {
				e.preventDefault();
				$switcher.removeClass("active");
				$(this).addClass("active");
				$("body").attr("class", $(this).data("class"));
			});
		});
	</script>


{% endblock %}


{% block js %}


{% endblock %}


