{% set INCLUDE_DATATABLES = True %}
{% extends "layout.html" %}
{% block content %}

<div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-12">

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title" style="font-size:20pt"><i class="fa fa-gift"></i> {{title}}</h1>
  </div>
  <div class="panel-body">
   
        <table class="table table-striped datatable">
        <thead>
            <th><i class="fa fa-camera"></i></th>
            <th>Name</th>
            <th>Descr</th>
            {% if is_admin %}
            <th>User</th>
            {% endif %}
            <th>Category</th>
            <th>Quantity remaining</th>
            <th>Price</th>
            <th></th>
        </thead>
        <tbody>
            {% for i in products %}
                <tr>
                    <td> {% if i.photo %}
                            <img style="height:30px; width:30px; border-radius:50%" src="/static/uploads/{{i.photo.split("/")[-1]}}">
                        {% endif %}
                    </td>
                    <td>{{i.name}}</td>
                    <td>{{i.description}}</td>
                    {% if is_admin %}
                    <td>{{i.user.email}}</td>
                    {% endif %}
                    <td>{{i.product_type.name}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.price}}</td>
                    {% if is_admin %}
                    <td><a href="/products/admin/edit/{{i.id}}">Edit</a></td>
                    {% else %}
                    <td><a href="/products/mine/edit/{{i.id}}">Edit</a></td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

      {% if is_admin %}
    <a href="/products/admin/edit/new" class="btn btn-lg btn-primary"><i class="fa fa-plus"></i> Add new</a>
    {% else %}
    <a href="/products/mine/edit/new" class="btn btn-lg btn-primary"><i class="fa fa-plus"></i> Sell {% if products.count() %}another{% else %}your first{% endif %} item</a>
     {% endif %}




    </div>
    </div>
</div>
</div>

{% endblock %}


{% block js %}
<script>
$(function() {
    $('.datatable').dataTable({
        "sPaginationType": "full_numbers",
        "iDisplayLength": 20,
        "aLengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]]
    });
});
</script>
{% endblock %}


