
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1>Editing product category</h1>
    <br/>
    <form id="registerForm" class="form" method="POST" action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{form.name.label}}
                {{form.name(placeholder="Type Name", class_="form-control", value=item.name)}}
            </div>

            <p><input class="btn btn-primary btn-lg btn-submit" type="submit" value="Save changes"></p>
    </form>
</div>
{% endblock %}

