{% set INCLUDE_DATATABLES = True %}
{% extends "layout.html" %}
{% block content %}

<div class="row">
<div class="col-md-8 col-md-offset-2">

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title" style="font-size:20pt"><i class="fa fa-gift"></i> {{title}}</h1>
  </div>
  <div class="panel-body">
   
        <table class="table table-striped datatable">
        <thead>
            <th>#</th>
            <th>Name</th>
            <th></th>
        </thead>
        <tbody>
            {% for i in products %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td><a href="/products/admin/types/{{i.id}}">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
    <a href="/products/admin/types/new" class="btn btn-lg btn-primary"><i class="fa fa-plus"></i> Add new</a>

    </div>
    </div>
</div>
</div>

{% endblock %}


{% block js %}
<script>
$(function() {
    $('.datatable').dataTable({
        "sPaginationType": "full_numbers",
        "iDisplayLength": 20,
        "aLengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]]
    });
});
</script>
{% endblock %}


